<div class="seccinstagram">
  <div class="custom-container">
    <div class="titlecontainer instagram">
      <h2 class="secctitle instagram">Síguenos</h2><img  src="{{ "instablueicon.svg" | asset_url }}" alt="Instagram" class="instaicontitle">
      <h2 class="secctitle instagram">#yaletevesytesientesbien</h2>
    </div>
    <div class="instacode w-embed"></div>
  </div>
</div>

{% schema %}
{
"name": "Instagram",
"enabled_on": {
"templates": ["index"]
},
"settings": [],
"presets": [
{
"name": "Instagram"
}
]
}
{% endschema %}