<div class="section-{{ section.id }}-padding">
    {{ page.content }}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
